body {
    background-image: url('graphics/bg.jpg');
  }
  
  table {
    margin-top: 0px; /* adjust the value to your preference */
    border-collapse: separate;
    border: solid black 1px;
    border-radius: 20px;
    width: 75vh;
    height: 65vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.2); /* transparent white */
    backdrop-filter: blur(10px) saturate(120%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 70px)); /* adjust the 70px value to the height of your h1 element plus any additional spacing */
  }
  
  th,
  td {
    width: 30px;
    height: 30px;
    text-align: center;
    border: none;
  }
  
  th:first-child,
  td:first-child {
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  td {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  td input[type="number"] {
    width: 40px;
    height: 30px;
    border: none;
    text-align: center;
    background-color: transparent;
    font: white;
    font-weight: bolder;
  }
  
  .green {
    background-color: rgba(0, 128, 0, 0.4);
    font: white;
  }
  
  .red {
    background-color: rgba(255, 0, 0, 0.4);
    font: white;
  }
  
  h1 {
    font-family: 'Montserrat', sans-serif; /* replace with your preferred font */
    font-size: 3rem; /* adjust to your preferred font size */
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2); /* transparent white */
    border: solid 1px black;
    border-radius: 20px;
    padding: 10px;
    backdrop-filter: blur(10px) saturate(120%);
    width: 75vh;
    height: 100px;
  }

  /* hide the number input arrows */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  /* Firefox */
  -moz-appearance: textfield;
}

  